@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Onest", sans-serif;
    background: radial-gradient(circle, rgb(17, 22, 38) 0%, rgba(21, 24, 46, 1) 100%);
    min-height: 100vh;
}

section {
    flex: 1;
}

.listItems {
    display: flex;
    justify-content: center;
    list-style: none;
}

.item {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.item a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    opacity: 85%;
}

.item.active a {
    color: #FFC436;
}

.item.active a:hover {
    color: #2196f3;
}

.item a:hover {
    color: #2196f3;
    transition: ease-out .4s 100ms;
}

.item-second {
    margin-top: -3px;
    margin-left: 5px;
}

.swift-view {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.swift-view:hover {
    transform: scale(1.1);
}

.profile {
    margin-top: 100px;
    margin-left: 21%;
}

.profile img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.status {
    position: relative;
    display: inline-block;
    margin: 0 0 0 15px;
    bottom: 18px;
    padding: 5px 3px;
    color: #2196f3;
    background: #1F2937;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    transition: 0.2s;
}

.status:hover {
    color: #fff;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.status span {
    position: absolute;
    display: block;
}

.status span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.status:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.status span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.status:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.status span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.status:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.status span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.status:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.description h1 {
    font-size: 48px;
    color: white;
    position: absolute;
    top: 28%;
    margin-top: 5px;
    left: 21%;
}

.description p {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 38%;
    margin-top: 10px;
    left: 21%;
    line-height: 1.85rem;
}

.description strong {
    color: #2196f3;
}

.links-actions {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 54%;
    margin-top: 10px;
    left: 21%;
    display: flex;
    justify-content: center;
}

.links-actions a {
    text-decoration: none;
}

.links-actions button {
    display: flex;
    align-items: center;
    border: 1px solid rgb(75 85 99);
    border-radius: 15px;
    background: #1F2937;
    color: #fff;
    padding: 7px 17px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.links-actions svg {
    margin-right: 8px;
}

.special {
    margin-left: 10px;
}

.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23%;
    margin-left: -39%;
    margin-bottom: 20px;
    font-size: 21px;
    color: white;
}

.timeline {
    position: relative;
    width: 2px;
    height: 300px;
    background: #444;
    margin-left: 21%;
}

.timeline::before,
.timeline::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 11px;
    height: 11px;
    background: #ffcc00;
    border-radius: 50%;
}

.timeline::before {
    top: 20px;
}

.timeline::after {
    bottom: 110px;
}

.timeline-item {
    position: absolute;
    top: 89%;
    left: 25%;
    bottom: 0;
    color: white;
    line-height: 0.5rem;
}

.timeline-item-2 {
    position: absolute;
    top: 110%;
    left: 25%;
    bottom: 0;
    color: white;
    line-height: 0.5rem;
}

.timeline-item .title,
.timeline-item-2 .title {
    color: #ffcc00;
    font-size: 20px;
}

.timeline-item .subtitle,
.timeline-item-2 .subtitle {
    font-size: 20px;
}

.available {
    color: #D1D5D8;
}

.fix-line {
    line-height: 1%;
}

.timeline-item .description,
.timeline-item-2 .description {
    width: 60%;
    font-size: 16px;
    color: #D1D5D8;
    margin-top: -85px;
    margin-left: 50%;
    line-height: 1.5rem;
}

.timeline-item .link,
.timeline-item-2 .link {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 50%;
    line-height: 1.5rem;
    text-decoration: none;
    color: rgb(254 240 138);
}

.link:hover {
    color: rgb(234 179 8);
}

::-webkit-scrollbar {
    display: none;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: -48%;
    margin-bottom: 20px;
    font-size: 21px;
    color: white;
}

.project_1 img {
    border-radius: 30px;
    height: 230px;
    width: 400px;
    margin-top: -20px;
    margin-left: 20%;
    transition: transform 0.9s ease;
}

.project_1 img:hover {
    transform: scale(0.9);
}

.project_1 h3 {
    color: white;
    font-size: 24px;
    margin-top: -220px;
    margin-left: 50%;
}

.project_1 .parrafo {
    color: white;
    font-size: 16px;
    margin-left: 50%;
}

.project_1 ul {
    margin-top: -20px;
    display: flex;
    margin-left: 48%;
    margin-bottom: -20px;
}

.project_2 img {
    border-radius: 30px;
    height: 230px;
    width: 400px;
    margin-top: 190px;
    margin-left: 20%;
    transition: transform 0.9s ease;
}

.project_2 img:hover {
    transform: scale(0.9);
}

.project_2 {
    border-radius: 15px;
    height: 230px;
    width: 400px;
    margin-top: -100px;
    margin-left: 15%;
}

.project_2 h3 {
    color: white;
    font-size: 24px;
    margin-top: -220px;
    margin-left: 140%;
    width: 140%;
}

.project_2 .parrafo {
    color: white;
    font-size: 16px;
    margin-left: 140%;
    width: 140%;
}

.project_2 ul {
    margin-top: -20px;
    display: flex;
    margin-left: 131%;
    margin-bottom: -20px;
}

.project_1 li,
.project_2 li {
    list-style: none;
    color: white;
    margin-left: 20px;
}

.links-actions-1 {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
}

.links-actions-1 a,
.links-actions-2 a {
    text-decoration: none;
}

.links-actions-1 button {
    display: flex;
    align-items: center;
    border: 1px solid rgb(75 85 99);
    border-radius: 15px;
    background: #1F2937;
    color: #fff;
    padding: 5px 18px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.links-actions-2 button {
    display: flex;
    align-items: center;
    border: 1px solid rgb(75 85 99);
    border-radius: 15px;
    background: #1F2937;
    color: #fff;
    padding: 5px 18px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 141%;
}

.links-actions-1 button:hover,
.links-actions-2 button:hover {
    border: 1px solid #1F2937;
}

.links-actions-1 svg,
.links-actions-2 svg {
    margin-right: 8px;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
    margin-left: -48%;
    font-size: 21px;
    color: white;
}

.about {
    color: white;
    margin-left: 20%;
}

.about strong {
    color: #1f7fceba;
}

.img-style {
    position: relative;
    top: -260px;
    left: 61%;
    width: 250px;
    height: 250px;
    border: 0.5px groove rgba(128, 128, 128, 0.4);
    border-radius: 15px;
    overflow: hidden;
    transform: rotateZ(5deg);
    box-shadow: 14px 14px 20px 0 rgba(24, 103, 168, 0.3);
    background-color: #141414;
    padding: .5rem;
}

.img-style img {
    border-radius: 15px;
    width: 100%;
}

footer {
    margin-top: -150px;
    font-size: 14px;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    color: #D1D5D8;
}

footer > div {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 990px;
    padding: 0 20px;
    box-sizing: border-box;
}

footer span {
    flex: 1;
}

.action-footer {
    position: relative;
    left: -50px;
}

.action-footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.action-footer li {
    list-style: none;
    margin-left: 15px;
}

.action-footer a {
    color: #D1D5D8;
    text-decoration: none;
}

.action-footer a:hover {
    text-decoration: underline;
}