@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Onest", sans-serif;
    background: radial-gradient(circle, rgb(17, 22, 38) 0%, rgba(21, 24, 46, 1) 100%);
    min-height: 100vh;
}

body.dark {
    background: #f8f8fe;
}

section {
    flex: 1;
}

html {
    scroll-behavior: smooth;
}

.listItems {
    display: flex;
    justify-content: center;
    list-style: none;
}

.item {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.item a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    opacity: 85%;
}

body.dark .item a {
    color: #4B5563;
}

.item.active a {
    color: #FFC436;
}

.item.active a:hover {
    color: #2196f3;
}

body.dark .item.active a {
    color: #FFC436;
}

body.dark .item.active a:hover {
    color: #2196f3;
}

.item a:hover {
    color: #2196f3;
    transition: ease-out .4s 100ms;
}

body.dark .item a:hover {
    color: #2196f3;
    transition: ease-out .4s 100ms;
}

.item-second {
    margin-top: -3px;
    margin-left: 5px;
    position: relative;
}

.swift-view {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

body.dark #sun-icon {
    stroke: #000000;
}

.swift-view:hover {
    transform: scale(1.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content-2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown-content-2 a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #e8e8e8;
}

.dropdown-content-2 a:hover {
    background-color: #e8e8e8;
}

.dropdown:hover .dropdown-content-2 {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#sun-icon {
    margin-right: 8px;
}

a svg {
    margin-right: 8px;
}

.profile {
    margin-top: 100px;
    margin-left: 21%;
}

.profile img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.button {
    position: relative;
    display: inline-block;
    padding: 5px 3px;
    margin: 0 0 0 15px;
    bottom: 18px;
    color: #03e9f4;
    background: #1F2937;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

body.dark .button {
    color: #4B5563;
    background: #c8d0d3;
}

.button:hover {
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

body.dark .button:hover {
    background: #03e9f4;
    color: #4B5563;
    box-shadow: 0 0 5px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.button:ntn-child(1) {
    filter: hue-rotate(270deg);
}

.button:ntn-child(2) {
    filter: hue-rotate(110deg);
}

.button span {
    position: absolute;
    display: block;
}

.button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

.button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

.button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

.button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.description h1 {
    font-size: 48px;
    color: white;
    position: absolute;
    top: 28%;
    margin-top: 5px;
    left: 21%;
}

body.dark .description h1 {
    color: #1F2927;
}

body.dark .description p {
    color: #1F2927;
}

.description p {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 38%;
    margin-top: 10px;
    left: 21%;
    line-height: 1.85rem;
}

.description strong {
    color: #2196f3;
}

.links-actions {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 54%;
    margin-top: 10px;
    left: 21%;
    display: flex;
    justify-content: center;
}

.links-actions a {
    text-decoration: none;
}

.links-actions button {
    display: flex;
    align-items: center;
    border: 1px solid rgb(75 85 99);
    border-radius: 15px;
    background: #1F2937;
    color: #fff;
    padding: 7px 17px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.links-actions button:hover {
    color: #1F2927;
    background: #fff;
    transition: all 0.5s ease;
}

body.dark .links-actions button:hover {
    color: #1F2927;
    background: #fff;
    transition: all 0.5s ease;
}

.links-actions svg {
    margin-right: 8px;
}

.special {
    margin-left: 10px;
}

.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23%;
    margin-left: -36%;
    margin-bottom: 20px;
    font-size: 21px;
    color: white;
}

body.dark .experience {
    color: #1F2927;
}

body.dark .timeline {
    background: rgba(128, 128, 128, 0.63);
    transition: all 0.5s ease;
}

.timeline {
    position: relative;
    width: 2px;
    height: 300px;
    background: #444;
    margin-left: 21%;
}

.timeline::before,
.timeline::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 11px;
    height: 11px;
    background: #ffcc00;
    border-radius: 50%;
}

.timeline::before {
    top: 20px;
}

.timeline::after {
    bottom: 110px;
}

.timeline-item {
    position: absolute;
    top: 89%;
    left: 25%;
    bottom: 0;
    color: white;
    line-height: 0.5rem;
}

body.dark .timeline-item,
body.dark .timeline-item-2 {
    color: #4B5563;
}

.timeline-item-2 {
    position: absolute;
    top: 110%;
    left: 25%;
    bottom: 0;
    color: white;
    line-height: 0.5rem;
}

.timeline-item .title,
.timeline-item-2 .title {
    color: #ffcc00;
    font-size: 20px;
}

.timeline-item .subtitle,
.timeline-item-2 .subtitle {
    font-size: 20px;
}

.available {
    color: #D1D5D8;
}

body.dark .available {
    color: #4b5563cc;
}

.fix-line {
    line-height: 1%;
}

body.dark .timeline-item .description,
body.dark .timeline-item-2 .description {
    color: #4B5563;
}

.timeline-item .description {
    width: 60%;
    font-size: 16px;
    color: #D1D5D8;
    margin-top: -85px;
    margin-left: 58%;
    line-height: 1.5rem;
}

.timeline-item-2 .description {
    width: 100%;
    font-size: 16px;
    color: #D1D5D8;
    margin-top: -85px;
    margin-left: 98%;
    line-height: 1.5rem;
}

.timeline-item .link {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 58%;
    line-height: 1.5rem;
    text-decoration: none;
    color: rgb(254 240 138);
}

body.dark .timeline-item .link,
body.dark .timeline-item-2 .link {
    color: rgb(255, 225, 0);
}

.timeline-item-2 .link {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 98%;
    line-height: 1.5rem;
    text-decoration: none;
    color: rgb(254 240 138);
}

.link:hover {
    color: rgb(234 179 8);
    transition: all 0.5s ease;
}

body.dark .link:hover {
    color: #FFC436;
}

::-webkit-scrollbar {
    display: none;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: -48%;
    margin-bottom: 20px;
    font-size: 21px;
    color: white;
}

body.dark .projects {
    color: #1F2927;
}

.project_1 img {
    border-radius: 30px;
    height: 230px;
    width: 400px;
    margin-top: -20px;
    margin-left: 20%;
    transition: transform 0.9s ease;
}

.project_1 img:hover {
    transform: scale(0.9);
}

.project_1 h3 {
    color: white;
    font-size: 24px;
    margin-top: -220px;
    margin-left: 50%;
    width: 100%;
}

body.dark .project_1 h3,
body.dark .project_2 h3 {
    color: #1F2927;
}

.project_1 .parrafo {
    color: white;
    font-size: 16px;
    margin-left: 50%;
}

body.dark .project_1 .parrafo,
body.dark .project_2 .parrafo {
    color: #4B5563;
}

.project_1 ul {
    margin-top: -15px;
    display: flex;
    margin-left: 48%;
    margin-bottom: -15px;
}

.project_2 img {
    border-radius: 30px;
    height: 230px;
    width: 400px;
    margin-top: 190px;
    margin-left: 20%;
    transition: transform 0.9s ease;
}

.project_2 img:hover {
    transform: scale(0.9);
}

.project_2 {
    border-radius: 15px;
    height: 230px;
    width: 400px;
    margin-top: -100px;
    margin-left: 15%;
}

.project_2 h3 {
    color: white;
    font-size: 24px;
    margin-top: -220px;
    margin-left: 140%;
    width: 140%;
}

.project_2 .parrafo {
    color: white;
    font-size: 16px;
    margin-left: 140%;
    width: 140%;
}

.project_2 ul {
    margin-top: -15px;
    display: flex;
    margin-left: 131%;
    margin-bottom: -15px;
}

.project_1 li,
.project_2 li {
    list-style: none;
    color: white;
    margin-left: 20px;
}

.links-actions-1 {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
}

.links-actions-1 a,
.links-actions-2 a {
    text-decoration: none;
}

.links-actions-1 button {
    display: flex;
    align-items: center;
    border: 1px solid rgb(75 85 99);
    border-radius: 15px;
    background: #1F2937;
    color: #fff;
    padding: 5px 18px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.links-actions-2 button {
    display: flex;
    align-items: center;
    border: 1px solid rgb(75 85 99);
    border-radius: 15px;
    background: #1F2937;
    color: #fff;
    padding: 5px 18px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 141%;
}

.links-actions-1 button:hover,
.links-actions-2 button:hover {
    color: #1F2937;
    background: #fff;
    transition: all 0.5s ease;
}

body.dark .links-actions-1 button:hover,
body.dark .links-actions-2 button:hover {
    color: #1F2937;
    background: #fff;
    transition: all 0.5s ease;
}

.links-actions-1 button:hover,
.links-actions-2 button:hover {
    border: 1px solid #1F2937;
    transition: all 0.2s ease;
}

.links-actions-1 svg,
.links-actions-2 svg {
    margin-right: 8px;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
    margin-left: -48%;
    font-size: 21px;
    color: white;
}

body.dark .aboutme {
    color: #1F2927;
}

body.dark .about {
    color: #4B5563;
}

body.dark .about strong {
    color: #1f7fce;
}

.about {
    color: white;
    margin-left: 20%;
}

.about strong {
    color: #1f7fceba;
}

.img-style {
    position: absolute;
    top: 242%;
    left: 61%;
    width: 250px;
    height: 250px;
    border: 0.5px groove rgba(128, 128, 128, 0.4);
    border-radius: 15px;
    overflow: hidden;
    transform: rotateZ(5deg);
    box-shadow: 14px 14px 20px 0 rgba(24, 103, 168, 0.3);
    background-color: #141414;
    padding: .5rem;
}

body.dark .img-style {
    box-shadow: 14px 14px 20px 0 rgba(126, 252, 0, 0.676);
}

.img-style img {
    border-radius: 15px;
    width: 100%;
}

footer {
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 14px;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    color: #D1D5D8;
}

body.dark footer {
    color: #4B5563;
}

footer>div {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 990px;
    padding: 0 20px;
    box-sizing: border-box;
}

footer span {
    flex: 1;
}

.action-footer {
    position: relative;
    left: -50px;
}

.action-footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.action-footer li {
    list-style: none;
    margin-left: 15px;
}

.action-footer a {
    color: #D1D5D8;
    text-decoration: none;
}

body.dark .action-footer a {
    color: #4B5563;
}

.action-footer a:hover {
    text-decoration: underline;
}